html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}
  *, *:before, *:after {
    box-sizing: border-box;
}
  
/* HEAD AREA */
body {
    color: white;
    background: black;
    min-height: 100vh;
}

.options {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-flow: row wrap;
    height: 85vh;
}

.logo {
    padding-bottom: 20px;
}

.title p {
    padding-bottom: 10px;
    font-size: 16px;
}
#link {
    background: white;
    width: 100%;
    text-align: center;
}


/* FOOTER AREA */
.end {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #c2c2c2;
    padding-top: 3rem;
}


@media only screen and (min-width: 600px) {
    .options {
        justify-content: flex-start;
        align-content: space-around;
        flex-wrap: nowrap;
        padding-left: 2rem;
    }
}


/* FOOTER AREA */
.end {
    justify-content: flex-start;
    padding-left: 3rem;
}
