html {
    scroll-behavior: smooth;
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: border-box;
  }


body {
    color: $font-color;
    background: $primary-color;
    min-height: 100vh;
    font-family: $font-family;
}
p{
    font-weight: 300;
}

.loader {
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    width: 5rem;
}


.options {
    transition: 1s;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-flow: column;
    height: 85vh;

    @include tablet {
        align-content: space-around;
        flex-flow: row nowrap;
        padding-left: 2rem;
    }

    @include desktop {
        justify-content: flex-start;
    }

            .base-state {
                padding-bottom: 20px;
                transition: 1s;
                transform: scale(1);

            }
            .logo-small {
                transform: scale(.6);
            }
        .title {
            p {
                padding-bottom: 10px;
                font-size: $size;
            }
        }
        .link {
            background: $font-color;
            width: 100%;
            text-align: center;
        }
}

// only after articles are loaded
.options-small {
    height: 290px;
}



//ARTICLES
.article-list {

    @include tablet {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    @include desktop {
        grid-template-columns: repeat(4,1fr);
    }
        
    .article-list-item {
        background-size: cover;
        background-position: 50%;
        min-height: 420px;
        display: grid;
        grid-template-columns: 1fr;
        position: relative;
        filter: grayscale(1);

            &:hover {
                filter: none;
            }

            @include tablet {
                &:hover {
                    filter: none;
                }
            }

            @include desktop {
                &:hover {
                    filter: none;
                }
            }

    
        .article-page {
            text-decoration: none;
            color: $font-color;
            position: absolute;
            bottom: 0;
            text-align: center;
            min-width: 100vw;
                // display: none;

                // &:hover {
                //     // display: block;
                //     transform: translateY(1);
                // }

            @include tablet {
                text-align: center;
                min-width: auto;
            }

            @include desktop {
                text-align: center;
                min-width: auto;
            }
              
            .article {
                background: rgba(0, 0, 0, 0.6);
                line-height: 1.5rem;
            }
        }
    }
}


//FOOTER AREA
.end {
    display:flex;
    justify-content: center;
    align-items: center;
    color: $footer;
    padding-top: 3rem;
    padding-bottom: 3rem;

    @include tablet {
        padding-left: 3rem;
    }

    @include desktop {
        justify-content: flex-start;
    }
}
